<div class="dieBar">
    <div class="dieCountBox right-border left-border d20">1</div>
    <div class="dieCountBox right-border">1</div>
    <div class="dieCountBox right-border">1</div>
    <div class="dieCountBox right-border">1</div>
    <div class="dieCountBox right-border">1</div>
    <div class="dieCountBox right-border">1</div>
    <br />
    <div class="dieBox right-border left-border d20">d20</div>
    <div class="dieBox right-border">d16</div>
    <div class="dieBox right-border">d12</div>
    <div class="dieBox right-border">d8</div>
    <div class="dieBox right-border">d6</div>
    <div class="dieBox right-border">d4</div>
</div>